
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div class="row">
        <h3>
            Sorry Page Not Found. Please Contact Administrator.
        </h3>
    </div>
    <div class="row city">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>