@model JWConvention.Models.ReservationModel
<div class="col-md-6 col-sm-6">
    <label for="chkPassport">
        Additional Accommodation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="chkPassport" onclick="ShowHideDiv(this)" />
    </label>
</div>

<br /><br />

<div id="dvPassport" style="display: none">
@*@using (Html.BeginForm("AddAdtionalRoom", "Reservation", FormMethod.Post))
{*@
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Date</label>
                <input type="text" id="datetimepicker9" style="width:98%; height:35px; padding-left:10px; border: thin solid #e5e5e5;">
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Hotel</label>
                @Html.DropDownListFor(m => Model._additional._addtionalHotel, new SelectList(Model._hotelList, "HotelID", "HotelName"), "- Please Select Hotel Category -", new { @name = "drpAddtionalHotels", @class = "form-control", @id = "drpAddtionalHotels" })
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Room</label>
                @Html.DropDownListFor(m => Model._additional._addtionalRoom, new SelectList(Model._roomList, "RoomID", "RoomType"), "- Please Select Room Category -", new { @name = "drpAddtionalRooms", @class = "form-control", @id = "drpAddtionalRooms" })
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Basis</label>
                <select name="hotel" class="form-control">
                    <option value="0">Full Board</option>
                    <option value="1">Half Board</option>
                    <option value="2">Room Only</option>

                </select>
            </div>
        </div>

        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Nights</label>
                <select name="hotel" class="form-control">
                    <option value="0">Please Select</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option>03</option>
                </select>
            </div>
        </div>


        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>No of Rooms</label>
                <select name="hotel" class="form-control">
                    <option value="0">Please Select</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option>03</option>
                </select>
            </div>
        </div>

        <div class="form-group" style="padding-top:30px;">
            <input type="submit" name="cancel" value="Cancel" formaction="SaveAdditionalRoom" formmethod="post" />
        </div>
    </div>
    <br />
@*}*@
</div>

<div class="form-group">
    <table width="100%" border="1">
        <tr align="center">
            <td>Date</td>
            <td>Hotel</td>
            <td>Room Type</td>
            <td>Basis</td>
            <td>Nights</td>
            <td>No of Rooms</td>
            <td>Action</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>