
@{
    ViewBag.Title = "PaymentComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div class="row">
        <h3>
            Payment successful. You will receive an email shortly. Thank You!
        </h3>
    </div>
    <div class="row city">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>

