@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Central_Highlands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>CENTRAL HIGHLANDS : 03 NIGHTS & 04 DAYS</h1>
    <div class="row">
        <p style="text-align:justify;">Spend four days experiencing the beauty of Sri Lanka’s hill country. This comprehensive tour begins with one day in the regal city of Kandy, formerly the seat of medieval kings, and this gives an opportunity to absorb the warm and welcoming atmosphere of Sri Lanka. Experience the colonial culture that thrived on tea production during a day’s stay at the hill station of Nuwara eliya via a scenic train ride, from there be transferred to the sandy shores of Negombo on Day three known for its huge and old fishing industry with busy fish markets and sandy beaches before a chance to explore Colombo with its grand Edwardian buildings.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Visit Pinnawala Elephant Orphanage</li>
            <li> Kandy City Tour</li>
            <li> Ride aboard a local train in beautiful scenery of tea plantation.</li>
            <li> Visit to a factory and a tea plantation with tea tasting.</li>
            <li> View from Ravana Heights and a hike to Ella Rock</li>
            <li> Excursion to one of the world's best nature reserves, Horton Plains.</li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO – KANDY</div>

                <p style="text-align:justify; padding:25px;">
                    Pick up from Colombo Hotel and transfer to Kandy, the Hill Capital of Sri Lanka. Transfer Time: Approx. 4 Hrs.<br />
                    On route visit Pinnawala Elephant Orphanage. Feeding time 0915 hrs.<br />
                    Conduct a tour of the Kandy City before checking in at the hotel.
                    <br />
                    <br />
                    <strong>Overnight stay at 4* hotel in Kandy on HB basis</strong>
                </p>
                <br />
            </div>        </div>



        <div class="div1">Day 02 - KANDY – NUWARAELIYA</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast, conduct a scenic train ride to Nuwara Eliya. Transfer time approx. 2.5 hours<br>
            Later your chauffer will pick you up from the Nanu Oya station.<br>
            After lunch enjoy a sightseeing tour in Nuwara Eliya including a visit to a tea plantation/ tea factory.<br />
            <br>
            <strong>Overnight stay at 4* hotel in Nuwara Eliya on HB basis</strong>
        </p>
        <br>

        <div class="div1">Day 03 - NUWARAELIYA – NEGOMBO</div>

        <p style="text-align:justify; padding:25px;">
            On this day you will have the option of conducting an excursion to Horton plains with a packed breakfast OR Conduct a day excursion to Ella.<br>
            Thereafter proceed to Negombo. Transfer time approx. 2.5 hours<br />
            <br>
            <strong>Overnight stay at 4* hotel in Negombo on BB basis.</strong>
        </p>
        <br>
        
        <div class="div1">Day 04 - NEGOMBO – COLOMBO</div>

        <p style="text-align:justify; padding:25px;">
            Spend the morning after breakfast at your Leisure, post which you will be dropped off in Colombo.<br>
            <br>
            <strong>Transfer Time: Approx. 45 Mins.</strong>
        </p>
        
        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li> Per Person Double Room Rate : USD 485</li>
            <li> Per Person Single Room Rate : USD 599</li>
            <li> Per Person Triple Room Rate : USD 475</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation on the standard room category at the specified hotels.</li>
            <li> Dinner and Breakfast at all the hotels.</li>
            <li> Transport in an Air-Conditioned Large Coach with an accompanying English speaking Chauffeur Guide.</li>
            <li> 02 complimentary 500ml water bottle per person per day.</li>
            <li> Government Tax.</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check-in &amp; late checkout.</li>
            <li> Meals &amp; beverages not included in the package price.</li>
            <li> Tips &amp; expenses of personal nature.</li>
            <li>
                Train Tickets from Kandy to Nanu Oya (USD 25 per person and will be subject to availability)
            </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
            <li>Minimum of 2 pax required to operate tour</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">

            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)
            </div>
        </div>
    </div>
</div>
