@model JWConvention.Models.InquiryModel
@{
    ViewBag.Title = "Colombo_Loving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>COLOMBO LOVIN’: 03 NIGHTS & 04 DAYS   </h1>
    <div class="row">
        <p style="text-align:justify;">
            This tour begins with 3 nights based in the bustling metropolis of Colombo. On day, one visit the regal city of Kandy and spend the evening relaxing at the beautiful Royal Botanical Gardens along with a city tour. On the final day make a stop in the historic city of Galle which is said to be the famous Tarshish of the Bible where King Solomon obtained gems and spices, this “Living” UNESCO World Heritage Site is the port where the Portuguese first landed in Sri Lanka in 1505.
        </p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> 03 Nights stay in Colombo    </li>
            <li> Visit to the Hill Capital of Sri Lanka – Kandy   </li>
            <li> Take a stroll in the Royal Botanical Gardens   </li>
            <li> Visit to the Old Dutch Fort in Galle  </li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO </div>

                <p style="text-align:justify; padding:25px;">
                    Check in at your hotel in Colombo.  <br />  Ride a Double Decker Bus for a Colombo City Tour.  <br />
                    Spend the rest of the day to relax and unwind.  <br />
                    <br>
                    <strong>Overnight stay at 5* hotel in Colombo on BB basis  </strong>
                </p>
                <br />
            </div>
        </div>

        <div class="div1">Day 02 -  COLOMBO – KANDY   </div>

        <p style="text-align:justify; padding:25px;">
            After a scrumptious breakfast today make your way to Kandy, the Hill Capital of  Sri Lanka.  Transfer Time: Approx. 03 Hrs. <br> Embark on a city tour along with the Royal Botanical Gardens.
            Embark on a city tour along with the Royal Botanical Gardens.   <br>
            On return to Colombo, optional visit to the Pinnawela Elephant Orphanage in  time for the feeding time. (Feeding Times: 13.15 Hrs. or 17.00 Hrs.)  <br>
            <br>
            <strong> Overnight stay at 5* hotel in Colombo on BB basis   </strong>
        </p>
        <br>


        <div class="div1">Day 03 -    COLOMBO - GALLE  </div>

        <p style="text-align:justify; padding:25px;">
            Today head off to Galle on the Southern Coast to visit the beautiful Galle Fort  that makes you feel like you are transported back in time to a Dutch Era.   Transfer Time: Approx. 1.5 Hrs. <br />
            Later visit places of interest around Galle which includes the Martin  Wickramasinghe Folk Museum and the Handunagoda Tea Factory. On return to Colombo, either enjoy an optional Madu River Boat ride or Kosgoda  Turtle Hatchery.  <br>
            <br>
            <strong>  Overnight stay at 5* hotel in Colombo on BB basis.   </strong>
        </p>
        <br>


        <div class="div1">Day 04 -      COLOMBO  </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast, check out from the resort.
            <br> Enjoy a shopping spree in Colombo.
            <br>
            <br>
            End of Tour.  <br>



            <div class="div1" style="background-color:#900;">OPTIONAL MALDIVES EXTENSION [04 NIGHTS &amp; 05 DAYS]</div>

        <p style="text-align:justify; padding:25px;">
            <strong>
                Discover a paradise hidden away in plain sight where the sun rises painting the skies in rich orange hues and the gentle waves of the Indian Ocean caress the shore with grace.<br />
            </strong><br>
            After breakfast head to the Katunayake airport for your flight to Maldives.  <br>
            You will be picked up from Male airport and will be whisked away to your 5 star resort.<br />
            <br>
            <strong>Enjoy the next 05 days at leisure in a 5 star resort in Maldives. You may use this time to relax and unwind or even engage in diving &amp; water sports.<br /> After lunch, you will be dropped off in Colombo. </strong><br />
            <br />
            <strong>Maldives Extension Inclusions</strong><br />
            <ul>
                <li> Accommodation on Double sharing basis</li>
                <li> Room stay is on Bed &amp; breakfast basis</li>
                <li> Return transfers by speedboat</li>
                <li> 1 snorkeling excursion</li>
                <li> All applicable taxes</li>

            </ul>


        </p>
        <h2 style="text-align:justify; padding:25px;">FINE PRINT<br /></h2>
        <br>
        </ul>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room at USD 430 </li>
            <li> Single Room Supplement: USD 600</li>
            <li> Triple Room Reduction: USD 405</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li>Accommodation for 03 Nights in a Superior City View Room at Cinnamon Lakeside  </li>
            <li> Bed & Breakfast Basis </li>
            <li> Departure Transfer in an Air Conditioned Large Coach.   </li>
            <li> Highway Toll fee (Airport to Colombo & Vice Versa).  </li>
            <li> Government Tax (15%).   </li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check ins & Late check outs    </li>
            <li> Optional Excursions    </li>
            <li> Meals & beverages not provided in the package price    </li>
            <li> Alcoholic Beverages   </li>
            <li> Tips & any expenses of personal nature     </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> Minimum of 02 pax required to operate the tour.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>
               
                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>

</div>

