@model JWConvention.Models.InquiryModel
@{
    ViewBag.Title = "Exotic_Sri_Lanka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>EXOTIC SRI LANKA 07 NIGHTS & 08 DAYS</h1>
    <div class="row">
        <p style="text-align:justify;">Spend four days experiencing the beauty of Sri Lanka’s hill country. This comprehensive tour begins with one day in the regal city of Kandy, formerly the seat of medieval kings, and this gives an opportunity to absorb the warm and welcoming atmosphere of Sri Lanka. Experience the colonial culture that thrived on tea production during a day’s stay at the hill station of Nuwara eliya via a scenic train ride, from there be transferred to the sandy shores of Negombo on Day three known for its huge and old fishing industry with busy fish markets and sandy beaches before a chance to explore Colombo with its grand Edwardian buildings.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Optional City Tour of Colombo by Jeep </li>
            <li> Visit to the Pinnawala Elephant Orphanage </li>
            <li> A visit to Golf and country resort, perfect hideaway.</li>
            <li> Embark on a trekking expedition to Knuckles mountain range</li>
            <li> 4 x 4 Safari at Minneriya National Park</li>
            <li> Climbing Sigirya, most visited historical site in Sri Lanka</li>
            <li> Enjoy the full experience of taking to the seas on a luxury yacht cruise</li>
            <li> Enjoy Sun, Sand and Sea </li>

        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO  </div>

                <p style="text-align:justify; padding:25px;">
                    Check in at the Hotel, Relax and unwind<br />
                    Late evening experience an optional city tour in Colombo by Jeep - giving you .<br />
                    the best personalized city tour in jeeps which has historical value (jeeps used during World War 2)
                    <br />
                    <br />
                    <strong>Overnight stay at 5* hotel in Colombo on BB basis </strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02  COLOMBO – KANDY</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast, Proceed to Kandy, capital of central province (Transfer time   approx. 2 hours) <br>
            En-route visit the Pinnawala Elephant Orphanage.<br />
            <br>
            <strong>Overnight stay at 4* hotel in Kandy on HB basis</strong>
        </p>
        <br>




        <div class="div1">Day 03 - KANDY – DIGANA or KNUCKLES  </div>

        <p style="text-align:justify; padding:25px;">
            On this day you will have the option of visiting Victoria Golf and Country Resort    OR enjoy an adventurous trek in Knuckles Mountains.<br>
            Country Resort is the perfect destination to unwind, kick back enjoy the peace &  tranquility of this venue. <br />
            If you are also in the mood to play a game of Golf you could contact the resort  directly and they will be ready to assist you. <br />
            <br>
            <strong>Overnight stay at 4* hotel in Kandy on HB basis</strong>
        </p>
        <br>






        <div class="div1">Day 04 - KANDY – SIGIRIYA </div>

        <p style="text-align:justify; padding:25px;">
            After Breakfast proceed to Habarana, Transfer time 2 ½ hrs.  <br>
            If you are a nature lover, late evening head over to Minneriya National Park.  <br />
            During this season, up to 200 wild Asian Elephants are seen grazing around the     tank or taking a cool dip in the water to relieve themselves from the sweltering     heat. This phenomenon is known as ‘The Gathering’ <br />

            <br>
            <strong>Overnight stay at 4* hotel in Habarana on HB basis.</strong>
        </p>
        <br>


        <div class="div1">Day 05 - SIGIRIYA - TRINCOMALEE    </div>

        <p style="text-align:justify; padding:25px;">
            Early Morning depart to Lions Rock in Sigiriya, A UNESCO world heritage site    adorning a palace on its peak and a must visit for anyone visiting Sri Lanka. <br>
            After Lunch proceed to Trincomalee (Transfer time: Approx. 3 hours)  <br />
            Late evening conduct an optional city tour in Trincomalee.<br />

            <br>
            <strong>Overnight stay at 4* hotel in Trincomalee on HB basis</strong>
        </p>
        <br>


        <div class="div1">Day 06 - TRINCOMALEE  </div>

        <p style="text-align:justify; padding:25px;">
            Early Morning optional excursion to Trincomalee harbor to enjoy a Cruise. <br>
            Enjoy the full experience of taking to the seas on a luxury yacht cruise. Have     breakfast while you enjoy the fresh sea air before catching a look at the   <br />
            magnificent giants of the sea, the whale. Later satisfy your thirst for adventure     with a bit of snorkeling, kayaking and fishing or simply relax in the sun. End the     day with a tropical lunch surrounded by the soothing sound of the waves before    heading back to shore <br />

            <br>
            <strong>Overnight stay at 4* hotel in Trincomalee on HB basis</strong>
        </p>
        <br>


        <div class="div1">Day 07 - TRINCOMALEE - NEGOMBO </div>

        <p style="text-align:justify; padding:25px;">
            After Breakfast proceed back to Negombo.   <br>
            Fresh seafood and untouched beaches, Negombo is the perfect location for a     beach holiday just before you set off to explore the rest of Sri Lanka or just     before the end of your holiday in Sri Lanka.   <br />

            <br>
            <strong>Overnight stay at 4* hotel in Negombo on BB basis</strong>
        </p>
        <br>


        <div class="div1">Day 08 - NEGOMBO - COLOMBO </div>

        <p style="text-align:justify; padding:25px;">
            After Breakfast proceed back to Colombo. <br>

            <br>
            <strong>End of Tour  </strong>
        </p>
        <br>



        <div class="div1" style="background-color:#900;">OPTIONAL MALDIVES EXTENSION [04 NIGHTS &amp; 05 DAYS]</div>

        <p style="text-align:justify; padding:25px;">
            <strong>
                Discover a paradise hidden away in plain sight where the sun rises painting the skies in rich orange hues and the gentle waves of the Indian Ocean caress the shore with grace.<br />
            </strong><br>
            After breakfast head to the Katunayake airport for your flight to Maldives.<br>
            You will be picked up from Male airport and will be whisked away to your 5 star resort.<br />
            <br>
            <strong>Enjoy the next 05 days at leisure in a 5 star resort in Maldives. You may use this time to relax and unwind or even engage in diving &amp; water sports.</strong><br />
            <br />
            <strong>Maldives Extension Inclusions</strong><br />
            <ul>
                <li> Accommodation on Double sharing basis</li>
                <li> Room stay is on Bed &amp; breakfast basis</li>
                <li> Return transfers by speedboat</li>
                <li> 1 snorkeling excursion</li>
                <li> All applicable taxes</li>

            </ul>


        </p>
        <h2 style="text-align:justify; padding:25px;">FINE PRINT<br /></h2>
        <strong> Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li> Per Person Sharing a Double Room at USD 1090</li>
            <li> Single Room Supplement: USD 1490 </li>
            <li> Triple Room Reduction: USD 105</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />
        <strong>Child Rate:</strong><br />
        0 –  1.99 Yeas: Complimentary Meals <br />
        02 – 11.99 Years: 50% on the per person sharing a Double Room Rate..<br />
        12 Years and above considered an adult.<br />
        <br />
        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation on the standard room category at the specified hotels..</li>
            <li> Dinner & Breakfast at all the hotels</li>
            <li> Transport in an Air-Conditioned Large Coach with an accompanying English speaking Chauffeur Guide.</li>
            <li> 02 complimentary 500ml water bottle per person per day.</li>
            <li> Government Tax.</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check-in & late checkout. </li>
            <li> Optional Excursions & the Colombo City Tour by Jeeps</li>
            <li> Entrance/excursion fees at the sites visited. </li>
            <li> Meals & beverages not included in the package price.</li>
            <li>
                Tips & expenses of personal nature.
            </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
            <li>Minimum of 2 pax required to operate tour</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>





    </div>

</div>



