@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Fly_Swim_Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>FLY, SWIM & SHOP: 04 NIGHTS & 05 DAYS </h1>
    <div class="row">
        <p style="text-align:justify;">Spend four days experiencing the beauty of Sri Lanka’s hill country. This comprehensive tour begins with one day in the regal city of Kandy, formerly the seat of medieval kings, and this gives an opportunity to absorb the warm and welcoming atmosphere of Sri Lanka. Experience the colonial culture that thrived on tea production during a day’s stay at the hill station of Nuwara eliya via a scenic train ride, from there be transferred to the sandy shores of Negombo on Day three known for its huge and old fishing industry with busy fish markets and sandy beaches before a chance to explore Colombo with its grand Edwardian buildings.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Avail an air taxi over the Cultural Triangle to your beach stay in the East Coast. </li>
            <li> Enjoy an aerial view as you fly across the country from the West to the East Coast. </li>
            <li>  Embark on a half day whale watching excursion </li>
            <li> Snorkel to your heart’s content in the blue waters of Trincomalee. </li>
            <li>  City tour of Colombo ending with a shopping spree before bidding goodbye </li>

        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - NEGOMBO  </div>

                <p style="text-align:justify; padding:25px;">
                    Transfer to Negombo from Colombo. Transfer time approx. 30 Mins<br />
                    Enjoy your evening at leisure by the beach or pool .<br />
                    You may also use this time to take a stroll along the bustling city streets or  take a boat ride along Negombo lagoon
                    <br />
                    <br />
                    <strong> Overnight stay at 4* hotel in Negombo on Bed & Breakfast Basis </strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02  NEGOMBO - TRINCOMALEE </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast proceed to Colombo International Airport in time to board your Cinnamon Air flight to Trincomalee.  <br>
            Transfer time approx. 30 Mins..<br />
            On reaching Trincomalee, transfer to your resort. After a scrumptious lunch, embark on a sightseeing tour which includes a visit Lover’s Leap, World War II Cemetry and the Hot Water Well..<br />
            <br>
            <strong>Overnight stay at 4* hotel in Trincomalee on Bed & Breakfast Basis. </strong>
        </p>
        <br>




        <div class="div1">Day 03 -  TRINCOMALE </div>

        <p style="text-align:justify; padding:25px;">
            Wake up early today and get ready for a cruise off the beautiful East Coast to     sight some Whales in the ocean. Breakfast will be served on board and after     whale watching, your boat will be anchored for a few hours for everyone to     enjoy a dip in the sea and to snorkel to your heart’s content.<br>
            After lunch on board, at 01 PM, sail back to shore and return to the hotel.    Relax and unwind by the beach or pool, after half a day out at sea. <br />

            <br>
            <strong>Overnight stay at 5* hotel in Trincomalee on Bed & Breakfast Basis.</strong>
        </p>
        <br>






        <div class="div1">Day 04 - TRINCOMALEE – COLOMBO </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast today, it’s time to bid goodbye to your beach stay. <br>
            Transfer to the China Bay Airport in time for your domestic flight to Colombo     Airport.  <br />
            After lunch, enjoy a city tour of the bustling Commercial Capital, Colombo.    For those interested, we can arrange an optional Tuk Tuk Safari to witness     Colombo’s best seasonal attractions, food/drink locations and the best night hot    spots. This excursion commences at 04 PM and duration is about 05 Hrs.<br />

            <br>
            <strong>Overnight stay at 5* hotel in Colombo on Bed & Breakfast Basis. </strong>
        </p>
        <br>


        <div class="div1">Day 05 - COLOMBO   </div>

        <p style="text-align:justify; padding:25px;">
            Leisurely after breakfast, embark on a guided shopping spree in the city <br>


            <br>
            <strong>END OF TOUR </strong>
        </p>
        <br>

        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room  : USD 1240</li>
            <li> Single Room Supplement   : USD 1450</li>
            <li> Triple Room Reduction   : USD 1215</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation on the standard room category at the specified hotels</li>
            <li> Bed and Breakfast Basis</li>
            <li> Transport in an Air-Conditioned Large Coach with an accompanying English speaking Chauffeur Guide.</li>
            <li> 02 complimentary 500ml water bottle per person per day. </li>
            <li> Entrance/excursion fees at the sites visited </li>
            <li> Government Tax.</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check-in & late checkout. </li>
            <li> Meals & beverages not included in the package price</li>
            <li>
                Tips & expenses of personal nature.
            </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li>Minimum of 2 pax required to operate tour</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>

</div>



