@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Heritage_Sri_Lanka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>HERITAGE SRI LANKA : 04 NIGHTS & 05 DAYS </h1>
    <div class="row">
        <p style="text-align:justify;">Spend four days experiencing the beauty of Sri Lanka’s hill country. This comprehensive tour begins with one day in the regal city of Kandy, formerly the seat of medieval kings, and this gives an opportunity to absorb the warm and welcoming atmosphere of Sri Lanka. Experience the colonial culture that thrived on tea production during a day’s stay at the hill station of Nuwara eliya via a scenic train ride, from there be transferred to the sandy shores of Negombo on Day three known for its huge and old fishing industry with busy fish markets and sandy beaches before a chance to explore Colombo with its grand Edwardian buildings.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Visit UNESCO Heritage Sites in the Cultural Triangle </li>
            <li> Half day city tour of Colombo </li>
            <li> Visit the Peradeniya Botanical Garden    </li>
            <li>  Learn about the spices in Sri Lanka</li>
            <li>  Witness the ‘The Elephant Gathering’ at Minneriya National Park  </li>



        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO  </div>

                <p style="text-align:justify; padding:25px;">
                    Check in at your hotel in Colombo. <br />
                    Conduct a city tour in Colombo including some shopping..<br />
                    Spend the rest of the day at leisure to relax and unwind.
                    <br />
                    <br />
                    <strong> Overnight stay at 5* hotel in Colombo on BB basis  </strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02  COLOMBO – HABARANA</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast, proceed to Habarana.  Transfer time approx. 4.5 hours On arrival, check into the hotel. <br>
            Enjoy an evening game drive at Minneriya National Park to witness the  Elephants<br />

            <br>
            <strong>   Overnight stay at 4* hotel in Habarana on HB basis.</strong>
        </p>
        <br>




        <div class="div1">Day 03 -  HABARANA - POLONNARUWA    </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast visit ancient kingdom of Polonnaruwa. (Transfer time approx.     01 hour) <br>


            <br>
            <strong>Overnight stay at 4* hotel in Habarana on HB basis</strong>
        </p>
        <br>






        <div class="div1">Day 04 -HABARANA – SIGIRIYA - KANDY</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast, visit Sigiriya Rock Fortress. <br>
            Thereafter proceed to Kandy en route visiting Matale Spice Gardens where Sri     Lanka known as Taprobane, was world-renowned for its Quality Spice <br />
            Enjoy a scrumptious lunch from Ranweli Spice Gardens made from freshly made    spices. Transfer time approx. 2.5 hours <br />
            Spend the rest of the afternoon at leisure by the hotel <br />
            <br>
            <strong>Overnight stay at 4* hotel in Kandy on HB basis </strong>
        </p>
        <br>


        <div class="div1">Day 05 - KANDY - COLOMBO  </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast check out from the resort and embark on a city tour including a     visit to the Royal Botanical Gardens. <br>
            Thereafter in the afternoon, proceed to Colombo. Transfer time: approx. 4.5 hr <br />

            <br>
            <strong>END OF TOUR </strong>
        </p>
        <br>

        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room at USD 710</li>
            <li> Single Room Supplement: USD 930 </li>
            <li> Triple Room Reduction: USD 725</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer - Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax)  : 45 USD </li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation on the standard room category at the specified hotels.</li>
            <li> Meals as specified </li>
            <li> Transport in an Air-Conditioned Large Coach with an accompanying English speaking Chauffeur Guide.   </li>
            <li> Entrance/excursion fees at the sites visited.  </li>
            <li> 02 complimentary 500ml water bottle per person per day.</li>
            <li> Government Tax.</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check-in & late checkou</li>
            <li> Meals & beverages not included in the package price. </li>
            <li>
                Tips & expenses of personal nature.
            </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
            <li>Minimum of 2 pax required to operate tour</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>

</div>

