@model JWConvention.Models.InquiryModel
@{
    ViewBag.Title = "Hill_Country_Comfort";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>HILL COUNTRY COMFORT: 04 NIGHTS & 05 DAYS</h1>
    <div class="row">
        <p style="text-align:justify;">Spend four days experiencing the beauty of Sri Lanka’s hill country. This comprehensive tour begins with one day in the regal city of Kandy, formerly the seat of medieval kings, and this gives an opportunity to absorb the warm and welcoming atmosphere of Sri Lanka. Experience the colonial culture that thrived on tea production during a day’s stay at the hill station of Nuwara eliya via a scenic train ride, from there be transferred to the sandy shores of Negombo on Day three known for its huge and old fishing industry with busy fish markets and sandy beaches before a chance to explore Colombo with its grand Edwardian buildings.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Visit to the Pinnawala Elephant Orphanage & Royal Botanical Gardens</li>
            <li> Witness a cultural show in Kandy</li>
            <li> Visit to a tea factory and a tea plantation with tea tasting</li>
            <li> World’s End & Bakers Falls Trek</li>
            <li> Experience the colorful colonial city of Galle</li>
            <li> Spend your evening on the soft sandy beaches with a drink in your hands.</li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO – KANDY</div>

                <p style="text-align:justify; padding:25px;">
                    Pick up from Colombo Hotel at 0630 Hrs.<br />
                    Transfer to the Hill Capital, Kandy, Transfer Time: Approx. 4 Hrs.<br />
                    En-route visit Pinnawala Elephant Orphanage Peradeniya Botanical Gardens.
                    <br />
                    <br />
                    <strong>Overnight stay at 4* hotel in Kandy</strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">KANDY – NUWARA ELIYA</div>

        <p style="text-align:justify; padding:25px;">
            Transfer to Nuwara Eliya to enjoy the cooler climates of the country.<br>
            Transfer Time: Approx. 2.5 Hrs.<br>
            Enjoy a lush green sightseeing tour of the region. Enjoy the breathtaking views<br>
            Visit a Tea Factory/Plantation & sip a cup of Ceylon Tea.<br>
            <br>
            <strong>Overnight stay at 4* hotel in Nuwara Eliya</strong>
        </p>
        <br>




        <div class="div1">Day 03 - NUWARA ELIYA - BENTOTA</div>

        <p style="text-align:justify; padding:25px;">
            Early morning excursion to Horton Plains with a packed breakfast [09 KM trek to World’s World’s End & bakers Falls]<br />
            Transfer to Bentota - Transfer Time: Approx. 5.5 Hrs<br />
            Check into the resort, relax and unwind listening to the sound of the waves<br />
            Enjoy the sunset on the beach.<br />
            <br>
            <strong>Overnight stay at 4* hotel in Bentota</strong>
        </p>
        <br>






        <div class="div1">Day 04 - BENTOTA – GALLE</div>

        <p style="text-align:justify; padding:25px;">
            Proceed to visit the Galle Fort. Enjoy a stroll in the old colonial fort.<br>
            Transfer Time: Approx. 1.5 Hrs.<br>
            Visit the Martin Wickramasinghe Folk Museum.<br>
            Evening leisure by the beach<br>
            <br>
            <strong>Transfer Time: Approx. 45 Mins.</strong>  <br>

            <strong>Overnight stay at 4* hotel in  Bentota</strong>
        </p>
        <br>


        <div class="div1">Day 05 - BENTOTA – COLOMBO</div>

        <p style="text-align:justify; padding:25px;">
            Transfer to Colombo in the afternoon.<br>
            Transfer Time: Approx. 1.5 Hrs.<br>
            The tour will end with a drop off in Colombo.<br>
            <br>
            <strong>Transfer Time: Approx. 45 Mins.</strong>  <br>

            <strong>Overnight stay at 4* hotel in  Bentota</strong>
        </p>
        <br>





        <div class="div1" style="background-color:#900;">OPTIONAL MALDIVES EXTENSION [04 NIGHTS &amp; 05 DAYS]</div>

        <p style="text-align:justify; padding:25px;">
            <strong>
                Discover a paradise hidden away in plain sight where the sun rises painting the skies in rich orange hues and the gentle waves of the Indian Ocean caress the shore with grace.<br />
            </strong><br>
            After breakfast head to the Katunayake airport for your flight to Maldives.<br>
            You will be picked up from Male airport and will be whisked away to your 5 star resort.<br />
            <br>
            <strong>Enjoy the next 05 days at leisure in a 5 star resort in Maldives. You may use this time to relax and unwind or even engage in diving &amp; water sports.</strong><br />
            <br />
            <strong>Maldives Extension Inclusions</strong><br />
            <ul>
                <li> Accommodation on Double sharing basis</li>
                <li> Room stay is on Bed &amp; breakfast basis</li>
                <li> Return transfers by speedboat</li>
                <li> 1 snorkeling excursion</li>
                <li> All applicable taxes</li>

            </ul>


        </p>
        <h2 style="text-align:justify; padding:25px;">FINE PRINT<br /></h2>
        <br />

        Minimum Number of Pax : 25<br />
        Maximum Number of Pax : 200<br /><br />


        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room at USD 500</li>
            <li> Single Room Supplement: USD 690</li>
            <li> Triple Room Reduction: USD 455</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation at the specified star rated hotels in the Standard Room category.</li>
            <li> Dinner and Breakfast at all hotels</li>
            <li>Lunch from Day 01 to Day 04</li>
            <li> Transportation in an Air Conditioned Mini Coach</li>
            <li> Services of an accompanying English Speaking National Guide.</li>
            <li>02 complimentary bottles of 500ml mineral water per person per day</li>
            <li>Entrance Fees at sites visited</li>
            <li>Vehicle Hire to Horton Plains</li>
            <li>Government tax</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Meals and beverages not included in the package price.</li>
            <li> Alcoholic Beverages</li>
            <li> Tips & Expenses of personal nature</li>
            <li> Travel Insurance, Air Fare & VISA </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li>Minimum of 25 pax required to operate the tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>
</div>