@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Into_The_Hills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

    <h1>INTO THE HILLS: 04 NIGHTS & 05 DAYS</h1>
    <div class="row">
        <p style="text-align:justify;">You will be met by our Chauffeur Guide and will be transferred to Kandy, the Hill Capital of Sri Lanka. En-route visit the Pinnawala elephant orphanage & Peradeniya Botanical Gardens. Next day Leave after breakfast from your campsite located in the pristine Knuckles Range of mountains. The camp is located high on a mountain slope overlooking the Knuckles Valley. On day three Break camp and drive up to “Corbet’s Gap”, a climb of 500 meters. Corbet’s Gap – named after the Englishman who discovered it, is a vast split in the range of Kandyan hills, through which on a clear day an amazing view is possible. Later proceed to Maskeliya and check in to the guesthouse and later begin climbing the Adams Peak mountain in order to reach the summit by dawn to witness a once in a lifetime sunrise.  Early next day Descend Adam's Peak in the morning today and return to the guesthouse where After a hot meal, transfer to Negombo where you can relax and unwind. On the last day proceed to Colombo.</p>
        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Trek through the lush green forest in the Knuckles Mountain Range</li>
            <li>
                Sri Lanka’s most striking natural landmarks and one of its most celebrated places
                Of pilgrimage
            </li>
            <li> Adam’s Peak</li>
            <li> Trek through the lush green forest in the Knuckles Mountain Range</li>
            <li> Visit the Pinnawala elephant orphanage</li>

        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - KANDY</div>

                <p style="text-align:justify; padding:25px;">
                    You will be met by our Chauffeur Guide and will be transferred to Kandy, the Hill Capital of Sri Lanka. Transfer Time: Approx. 4 Hrs.<br />
                    En-route visit the Pinnawala elephant orphanage & Peradeniya Botanical Gardens<br />
                    <br />
                    <strong>Overnight stay at 4* hotel in Kandy on HB basis</strong>
                </p><br />
                <br />


            </div>



        </div>



        <div class="div1">Day 02 - KANDY – KNUCKLES</div>

        <p style="text-align:justify; padding:25px;">
            Leave after breakfast from your campsite located in the pristine Knuckles Range of mountains. The camp is located high on a mountain slope overlooking the Knuckles Valley. Transfer Time: Approx. 02 Hrs.<br>
            <br />
            <br>
            <strong>Overnight stay at Campsite in Knuckles on BB basis</strong>
        </p><br>
        Note: To ensure very low impact in this pristine region we do not operate a permanent campsite and the facilities provided are very basic. Two-person insect and waterproof tents, one toilet pit, no camp furniture etc. Simple, but wholesome hot meals (Dinner and Breakfast) are provided with the help of the villagers.
        Please ensure that you are in good health condition as this trek is very long and strenuous and is not recommended for persons with heart conditions or any other serious illnesses.
        Also, please be extra cautious when going on this trek as it is a trail filled with uneven jagged steps and will be done during the early hours of the morning hence kindly take appropriate trekking equipment.<br>

        <br>




        <div class="div1">Day 03 - KNUCKLES - MASKELIYA</div>

        <p style="text-align:justify; padding:25px;">
            Break camp today and drive up to “Corbet’s Gap”, a climb of 500 meters. Corbet’s Gap – named after the Englishman who discovered it, is a vast split in the range of Kandyan hills, through which on a clear day an amazing view is possible.<br>
            Later proceed to Maskeliya and check in to the guesthouse. Transfer Time: Approx. 04 Hrs.<br /><br>
            In the evening rest and prepare for the nights climb.
            Begin climb at approximately 0200 hrs. Climb through the night in order to reach the summit by dawn to witness a once in a lifetime sunrise. (If not cloudy….!)
            <br>
            <strong>Overnight stay at guesthouse in Maskeliya on HB basis.</strong>
        </p>
        <br>






        <div class="div1">Day 04 - MASKELIYA - NEGOMBO</div>

        <p style="text-align:justify; padding:25px;">
            Descend Adam's Peak in the morning today and return to the guesthouse.<br> <br>
            After a hot meal, transfer to Negombo. Transfer Time: Approx. 3.5 Hrs.<br>
            Check in to the resort, relax and unwind.
            <br>
            <strong>Overnight stay at 4* hotel in Negombo on BB basis.</strong>
        </p>
        <br>



        <div class="div1">Day 05 - NEGOMBO - COLOMBO</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast proceed to Colombo. Transfer time: approx. 45 Mins.<br> <br>
            END OF TOUR<br>


        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room at USD 600</li>
            <li> Single Room Supplement: USD 715</li>
            <li> Triple Room Reduction: USD 580</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation on the standard room category at the specified hotels.</li>
            <li> Dinner and Breakfast at all the hotels.</li>
            <li> Transport in an Air-Conditioned Large Coach with an accompanying English speaking Chauffeur Guide.</li>
            <li> 02 complimentary 500ml water bottle per person per day.</li>
            <li> Government Tax.</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check-in &amp; late checkout.</li>
            <li> Meals &amp; beverages not included in the package price.</li>
            <li> Tips &amp; expenses of personal nature.</li>
            <li>
                Train Tickets from Kandy to Nanu Oya (USD 25 per person and will be subject to availability)
            </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
            <li>Minimum of 2 pax required to operate tour</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>
</div>