@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Island_Highlights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>ISLAND HIGHLIGHTS: 06 NIGHTS & 07 DAYS</h1>
    <div class="row">
        <p style="text-align:justify;">This comprehensive tour begins from Colombo where you transfer to Habarana and go on an excursion to the Sigiriya Rock Fortress, A UNESCO world heritage site adorning a palace on its peak and a must visit for anyone visiting Sri Lanka. On day two Experience the elephant gathering in Minneriya and Later proceed to Kandy where you check-in to your hotel and spend the evening Leisure by the Poolside. The next day embark on a city tour of Kandy along with visiting the Royal Botanical Gardens. On day four enjoy a day excursion to Nuwara Eliya which will include a visit to the Gregory Park after which you will proceed to bentota on day five. A visit to Geoffrey Bawa Gardens will be on day six after which you can enjoy the rest of the day leisurely by the beach or engage in water sports. On the final day be dropped off in Colombo.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Traverse world famous Sigiriya Rock Fortress </li>
            <li> Visit to the Royal Botanical Gardens</li>
            <li> Watch the gentle giants at Minneriya where the renowned Elephant gathering takes place</li>
            <li> Visit the UNESCO heritage site – Kandy</li>
            <li> Enjoy the cool climate at Nuwara Eliya</li>
            <li> World’s End & Bakers Falls Trek</li>
            <li> Visit the Geoffrey Bawa Gardens</li>
            <li> Spend your evening on the soft sandy beaches with a drink in your hands</li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO – HABARANA</div>

                <p style="text-align:justify; padding:25px;">
                    Pick up from Colombo Hotel at 0600 Hrs.<br /> Transfer to the Habarana, Transfer Time: Approx. 4 Hrs.<br />
                    Excursion to Sigiriya Rock Fortress.<br />
                    <br>
                    <strong>Overnight stay at 4* hotel in Habarana</strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02 - HABARANA – KANDY</div>

        <p style="text-align:justify; padding:25px;">
            Experience the elephant gathering in Minneriya.<br>
            Later proceed to Kandy. Evening Leisure by the Poolside.<br>
            Transfer Time: Approx. 2.5 Hrs. <br>
            <br>
            <strong>Overnight stay at 4* hotel in Kandy </strong>
        </p>
        <br>




        <div class="div1">Day 03 - KANDY</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast embark on a city tour of Kandy along with visiting the Royal Botanical Gardens.<br /> Evening at leisure.
            <br>
            <br>
            <strong>Overnight stay at 4* hotel in Kandy.</strong>
        </p>
        <br>






        <div class="div1">Day 04 - KANDY – NUWARA ELIYA</div>

        <p style="text-align:justify; padding:25px;">
            After breakfast enjoy a day excursion to Nuwara Eliya which will include a visit  to the Gregory Park.<br> Transfer Time: Approx. 2.5 Hrs.
            <br> Late afternoon return to Kandy.
            <br>
            <br>
            <strong> Overnight stay at 4* hotel in Kandy </strong>
        </p>
        <br>




        <div class="div1">Day 05 - KANDY – BENTOTA </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast proceed to Bentota. <br>
            Transfer Time: Approx. 4.5 Hrs. <br>
            Evening excursion to Madu River Safari  <br>
            <br>
            <strong> Overnight stay at 4* hotel in Bentota</strong>
        </p>
        <br>





        <div class="div1">Day 06 - BENTOTA </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast visit Geoffrey Bawa Gardens. <br>
            Transfer Time: Approx. 4.5 Hrs.  <br>
            Full day at leisure by the beach or engage in water sports. <br>
            <br>
            <strong> Overnight stay at 4* hotel in Bentota </strong>
        </p>
        <br>




        <div class="div1">Day 07 - BENTOTA - COLOMBO </div>

        <p style="text-align:justify; padding:25px;">
            Leisurely after breakfast, you will be dropped off in Colombo. <br>
            Transfer Time: Approx. 1.5 Hrs.
            <br>

        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <br> Minimum Number of Pax : 25 <br> Maximum Number of Pax  : 200 <br>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li> Per Person Double Room Rate : USD 599</li>
            <li> Per Person Single Room Rate : USD 825</li>
            <li> Per Person Triple Room Rate : USD 574</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation at the 04 star & 05 star hotels in the Standard Room category. </li>
            <li> Dinner and Breakfast at all the hotels.</li>
            <li> Lunch from Day 01 to Day 06. </li>
            <li> Transportation in an Air Conditioned Large Coach. </li>
            <li> Services of an accompanying English Speaking National Guide. </li>
            <li> 02 complimentary bottles of 500ml mineral water per person per day.  </li>
            <li> Entrance Fees at sites visited.  </li>
            <li> Government tax.  </li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Optional excursion/entrance fee – Water Sports 30 USD </li>
            <li> Meals and beverages not included in the package price. </li>
            <li> Alcoholic Beverages.</li>
            <li> Tips & Expenses of personal nature.  </li>
            <li> Travel Insurance, Air Fare & VISA. </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> Minimum of 25s pax required to operate the tour.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>
</div>

