@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Island_Quick_Fix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>ISLAND QUICK FIX: 04 NIGHTS & 05 DAYS  </h1>
    <div class="row">
        <p style="text-align:justify;">
            Pick up from Colombo on day one and transfer to the Cultural Triangle. In the afternoon, go on an excursion to Sigiriya Rock Fortress, a UNESCO world heritage site adorning a palace on its peak and a must visit for anyone visiting Sri Lanka.  Next day Proceed to Kandy en route visiting a Spice Garden in Matale and embark on a city tour of Kandy, including visit to the Botanical Gardens. Transfer to Nuwara Eliya to enjoy the cooler climates of the country on day three where you will Enjoy a lush green sightseeing tour of the region. Enjoy the breathtaking views of Tea Estates & Water Falls and
            visit a Tea Factory/Plantation & sip a cup of Ceylon Tea. On day four transfer to Bentota in the Southern Coast where you check into the resort, relax and unwind listening to the sound of the waves
            Enjoy the sunset on the beach. On the final day proceed to visit the Galle Fort, enjoy a stroll in the old colonial fort, and visit the Martin Wickramasinghe Folk Museum and Transfer to Colombo in the afternoon where you can embark on a city tour including some shopping.
        </p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Learn about the spices in Sri Lanka   </li>
            <li> Visit to a tea factory and a tea plantation with tea tasting  </li>
            <li> Experience the colorful colonial city of Galle  </li>
            <li> Half day city tour of Colombo  </li>
            <li> Best shopping experience in Colombo </li>
            <li>Spend your evening on the soft sandy beaches with a drink in your hands  </li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO – SIGIRIYA  </div>

                <p style="text-align:justify; padding:25px;">
                    Pick up from Colombo Hotel at 08.30 Hrs. <br /> Transfer to the Cultural Triangle. Transfer Time: Approx. 4.5 Hrs.  <br />
                    Afternoon, excursion to Sigiriya Rock Fortress.  <br />
                    <br>
                    <strong>Overnight stay at 4* hotel in Sigiriya/Dambulla/Habarana </strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02 - SIGIRIYA – DAMBULLA – SPICE GARDEN - KANDY  </div>

        <p style="text-align:justify; padding:25px;">
            Proceed to Kandy en route visiting a Spice Garden in Matale.  <br>
            Transfer Time: Approx. 2.5 Hrs.  <br>
            Embark on a city tour of Kandy, including visit to the Botanical Gardens  <br>
            <br>
            <strong>Overnight stay at 4* hotel in Kandy  </strong>
        </p>
        <br>




        <div class="div1">Day 03 - KANDY – NUWARA ELIYA  </div>

        <p style="text-align:justify; padding:25px;">
            Transfer to Nuwara Eliya to enjoy the cooler climates of the country.  <br /> Transfer Time: Approx. 2.5 Hrs.   <br /> Enjoy a lush green sightseeing tour of the region. Enjoy the breathtaking views
            of Tea Estates & Water Falls. <br> Visit a Tea Factory/Plantation & sip a cup of Ceylon Tea. <br>
            <br>
            <strong>  Overnight stay at 4* hotel in Nuwara Eliya  </strong>
        </p>
        <br>






        <div class="div1">Day 04 -   NUWARA ELIYA - BENTOTA  </div>

        <p style="text-align:justify; padding:25px;">
            After a scrumptious breakfast, transfer to Bentota in the Southern Coast.  <br>     Transfer Time: Approx. 5.5 Hrs
            <br> Check into the resort, relax and unwind listening to the sound of the waves  <br> Enjoy the sunset on the beach.   <br>
            <br>
            <strong> Overnight stay at 4* hotel in Bentota.  </strong>
        </p>
        <br>







        <div class="div1">Day 05 -      BENTOTA – GALLE – COLOMBO   </div>

        <p style="text-align:justify; padding:25px;">
            Proceed to visit the Galle Fort. Enjoy a stroll in the old colonial fort.   <br>     Transfer Time: Approx. 1.5 Hrs
            <br> Visit the Martin Wickramasinghe Folk Museum.
            <br> Transfer to Colombo in the afternoon. Transfer Time: Approx. 1.5 Hrs.
            <br> Embark on a city tour including some shopping.
            <br> The tour will end with a drop off in Colombo.  <br>
            <br>





            <div class="div1" style="background-color:#900;">OPTIONAL MALDIVES EXTENSION [04 NIGHTS &amp; 05 DAYS]</div>

        <p style="text-align:justify; padding:25px;">
            <strong>
                Discover a paradise hidden away in plain sight where the sun rises painting the skies in rich orange hues and the gentle waves of the Indian Ocean caress the shore with grace.<br />
            </strong><br>
            Head to the Katunayake airport for your flight to Maldives. <br>
            You will be picked up from Male airport and will be whisked away to your 5 star resort.<br />
            <br>
            <strong>Enjoy the next 05 days at leisure in a 5 star resort in Maldives. You may use this time to relax and unwind or even engage in diving &amp; water sports.<br /> After lunch, you will be dropped off in Colombo. </strong><br />
            <br />
            <strong>Maldives Extension Inclusions</strong><br />
            <ul>
                <li> Accommodation on Double sharing basis</li>
                <li> Room stay is on Bed &amp; breakfast basis</li>
                <li> Return transfers by speedboat</li>
                <li> 1 snorkeling excursion</li>
                <li> All applicable taxes</li>

            </ul>


        </p>
        <h2 style="text-align:justify; padding:25px;">FINE PRINT<br /></h2>
        <ul>
            <li> Minimum Number of Pax : 25 </li>
            <li> Maximum Number of Pax : 200 </li>
            <br>
        </ul>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room at USD 480 </li>
            <li> Single Room Supplement: USD 700</li>
            <li> Triple Room Reduction: USD 460</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation for 04 Nights in a 04-star property   </li>
            <li>  Bed & Breakfast Basis </li>
            <li> Transportation in an Air-Conditioned Vehicle  </li>
            <li>Services of an English Speaking National </li>
            <li> Government and applicable taxes.  </li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Lunch & Dinner   </li>
            <li> Tips & expenses of personal nature   </li>
            <li> Optional excursions   </li>
            <li> Air Fare, VISA & Travel Insurance  </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> Minimum of 25 pax required to operate the tour.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>
</div>
