@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Island_Paradise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>ISLAND PARADISE: 03 NIGHTS & 04 DAYS </h1>
    <div class="row">
        <p style="text-align:justify;">From Colombo transfer to Nuwara eliya on day one where in the Afternoon, Visit a Tea Plantation & enjoy a sip of Ceylon Tea. Next day After breakfast proceed to Yala where you will Embark on an evening safari at Yala National Park. On day three proceed to Bentota where you can spend the Afternoon Leisurely by the Beach. On the final day visit the historic Galle fort en route to Colombo.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Experiences the cool climate of Nuwara Eliya  </li>
            <li> Visit to a tea factory and a tea plantation with tea tasting </li>
            <li> Enjoy sighting rare animals at Yala </li>
            <li> Spend your evening on the soft sandy beaches with a drink in your hands </li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO – NUWARA ELIYA </div>

                <p style="text-align:justify; padding:25px;">
                    Pick up from 5* Colombo Hotel at 06.30 Hrs.<br /> Transfer to the Central Highlands. Transfer Time: Approx. 6.0 Hrs. <br />
                    Afternoon, Visit a Tea Plantation & enjoy a sip of Ceylon Tea. <br />
                    <br>
                    <strong>Overnight stay at 4* hotel in Nuwara Eliya </strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02 - NUWARA ELIYA - YALA </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast proceed to Yala. <br>
            Transfer Time: Approx. 4.5 Hrs. <br>
            Embark on an evening safari at Yala National Park. <br>
            <br>
            <strong>Overnight stay at 5* hotel in Yala  </strong>
        </p>
        <br>




        <div class="div1">Day 03 - YALA - BENTOTA </div>

        <p style="text-align:justify; padding:25px;">
            After breakfast proceed to Bentota. <br /> Transfer Time: Approx. 3 Hrs.  <br /> Afternoon Leisure by the Beach. You may also use this time to engage in water sports.
            <br>
            <br>
            <strong> Overnight stay at 4* hotel in Bentota. </strong>
        </p>
        <br>






        <div class="div1">Day 04 -   BENTOTA - COLOMBO </div>

        <p style="text-align:justify; padding:25px;">
            Leisurely after breakfast proceed to visit the Galle Fort. <br>    Transfer Time: Approx. 2 hrs
            <br>
            <br>

        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <br>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li> Per Person Double Room Rate : USD 475</li>
            <li> Per Person Single Room Rate : USD 665</li>
            <li> Per Person Triple Room Rate : USD 455</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
        </ul>

        <br />
        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation at specified star rates hotels in the Standard Room category.  </li>
            <li> Dinner and Breakfast at all the hotels.</li>
            <li> Lunch from Day 01 to Day 04. </li>
            <li> Transportation in an Air Conditioned Large Coach. </li>
            <li> Services of an accompanying English Speaking Guide. </li>
            <li> 02 complimentary bottles of 500ml mineral water per person per day.  </li>
            <li> Entrance Fees at sites visited.  </li>
            <li> Jeep Hire for 01 Safari at Yala National Park </li>
            <li> Government tax.  </li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Meals and beverages not included in the package price.  </li>
            <li> Alcoholic Beverages.  </li>
            <li> Tips & Expenses of personal nature.  </li>
            <li> Travel Insurance, Air Fare & VISA. </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>

            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> Minimum of 25 pax required to operate the tour.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)
            </div>
        </div>
    </div>
</div>