@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "South_Coast_Adventure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

    <h1>SOUTH COAST ADVENTURE - 2 NIGHTS 3 DAYS</h1>
    <div class="row">
        <p style="text-align:justify;">On day one you will be picked up from your hotel in Colombo & proceed to Bentota where you can enjoy a day full of water activities, a free package which consists of a Jet Ski Ride, 1 Km Banana Boat Ride & a Tube Ride. The next day you will have the option of spending the full day at leisure by the beach, OR to conduct a day excursion to Galle, brief city tour including a visit to Galle Fort and Old Folk museum. On day three spend the day at leisure and proceed to Colombo in the afternoon.</p>

        <br />

        <p><strong>HIGHLIGHTS OF THE TOUR</strong></p>
        <ul>
            <li> Fun filled evening with water sports</li>
            <li> Experience the colorful colonial city of Galle</li>
            <li> Best shopping experience in Colombo</li>
            <li> Visit to a tea factory in Hadunagoda en route to Galle</li>
            <li> An interesting visit to the tastefully presented Folk museum which belongs a respected Sinhalese Author</li>
            <li> Spend your evenings on the soft sandy beaches with a cool drink in your hands and get lost amidst the sound of waves.</li>
        </ul>
        <br />
        <div class="step">


            <div class="div0">
                <div class="div1">Day 01 - COLOMBO - BENTOTA</div>

                <p style="text-align:justify; padding:25px;">
                    After breakfast, Pick up from your hotel in Colombo & proceed to Bentota. Transfer time approx. 2 Hrs<br />
                    Transfer Enjoy a day full of water activities, a free package which consists of a Jet Ski Ride, 1 Km Banana Boat Ride & a Tube Ride.<br />
                    <br />
                    <br />
                    <strong>Overnight stay at 4* hotel in Bentota</strong>
                </p>
                <br />


            </div>



        </div>



        <div class="div1">Day 02 - BENTOTA – GALLE</div>

        <p style="text-align:justify; padding:25px;">
            On this day you will have the option of spending the full day at leisure by the beach,<br>
            OR to conduct a day excursion to Galle, brief city tour including a visit to Galle Fort and Old Folk museum. Transfer Time: Approx. 1.5 Hrs.<br>
            Enjoy a Possible places of interest around Galle, includes the Martin Wickramasinghe Folk Museum and the Handunagoda Tea Factory.<br />
            <br>
            <strong>Overnight stay at 4* hotel in Bentota</strong>
        </p>
        <br>




        <div class="div1">Day 03 - BENTOTA – COLOMBO</div>

        <p style="text-align:justify; padding:25px;">
            Spend the day at leisure and proceed to Colombo in the afternoon.<br>
            Transfer Time: Approx. 2 Hrs.<br /><br>
            En route to the Airport optional city tour in Colombo can be conducted including some last minute shopping.<br>
            The tour will end with a drop off in Colombo.
            <br>

        <h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>
        <strong>Package rates based on per person sharing a Double/Twin Room in USD</strong>.<br />
        <ul>
            <li>Per Person Sharing a Double Room at USD 399</li>
            <li> Single Room Supplement: USD 520</li>
            <li> Triple Room Reduction: USD 377</li>
        </ul>
        <br />
        <strong>Optional Extras</strong><br />
        <ul>
            <li> Airport Transfer – Departure (01-02 Pax) : 40 USD</li>
            <li> Airport Transfer – Departure (03-07 Pax) : 45 USD</li>
            <li> Maldives Extension [04 Nights 05 Days] : 950 USD upwards</li>
        </ul>
        <br />

        <strong>Rate Inclusions:</strong><br />
        <ul>
            <li> Accommodation on the standard room category at the specified hotels.</li>
            <li> Dinner and Breakfast at all the hotels.</li>
            <li> Transport in an Air-Conditioned Large Coach with an accompanying English speaking Chauffeur Guide.</li>
            <li> 02 complimentary 500ml water bottle per person per day.</li>
            <li> Government Tax.</li>
        </ul>
        <br />
        <strong>Rate Exclusions:</strong><br />
        <ul>
            <li> Early check-in &amp; late checkout.</li>
            <li> Meals &amp; beverages not included in the package price.</li>
            <li> Tips &amp; expenses of personal nature.</li>
            <li>
                Train Tickets from Kandy to Nanu Oya (USD 25 per person and will be subject to availability)
            </li>
        </ul>
        <br />
        <strong>Terms &amp; Conditions</strong><br />
        <ul>
            <li> Check in time at hotels will be at 14.00 Hrs. and check out is at 11.00 Hrs.</li>
            <li> No refund for unused services on tour.</li>
            <li> Confirmation of the tour required minimum 20 days prior to arrival.</li>
            <li>Minimum of 2 pax required to operate tour</li>
            <li>Include Board basis for all days </li>
        </ul>
        <br />
        <strong>Cancellation Policy</strong><br />
        <ul>
            <li> Cancellation informed less than 15 days prior to arrival will be charged full cancellation.</li>
            <li> Cancellations informed 15 days or (more), prior to arrival will be charged 50% cancellation.</li>
            <li> Cancellations informed 31 days prior to arrival, will be eligible for a full refund.</li>
        </ul>
        <br>


        <div class="row">



            <div class="form_title">
                <h4>
                    <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                    <br />
                </h4>
                <p>

                </p>
            </div>
            <div class="step">

                <div id="message-contact"></div>

                @Html.Partial("_SendInquiry", Model)

            </div>
        </div>
    </div>
</div>
