@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Udawalawe_Day_Excursion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

    <h1>Udawalawe Day Excursion</h1>
    <div class="row">
        <p style="text-align:justify;">
            Enjoy a morning Jeep safari of the Udawalawe National Park. Thereafter, visit the Elephant Transit Home which is located beside the Udawalawe National Park. This is an admirable initiative which is sponsored by the Born Free Trust. Baby elephants who are injured or orphaned in the wild are brought to the Transit Home where they are cared for and rehabilitated in a natural setting. Once the elephants are old enough and strong enough they are radio collared and released in to the National Park in small groups. The first group to be released in to the park successfully reproduced in the wild in 2008!
            <br /> <br />


            <div class="step"></div>
            <div class="div0"></div>

                    <div class="div1">01 Day Excursion</div>

        <p style="text-align:justify; padding:25px;">
            AM – Leave resort with a packed breakfast and drive to Udawalawe VIA Ratnapura (city of gems) <br /><br />
            Safari of Udawalawe National park by Jeep. Visit the Elephant transit home in Udawalwe which is sponsored by the BOARN FREE TRUST UK. Injured and orphaned elephants from around the island are brought and given treatment and care. Once the elephants are strong enough and old enough they are reallocated in the wild at Udawalawe National Park. <br /><br />
            Udawalawe lies south of the central hills of the island, and it surround the manmade reservoir of Udawalawe, which is part of the park. It is a mixture of abandoned teak plantation, scrub jungle & grassland. The dry season is best to watch many herds of elephants that roam in the park, which is usually between May & September. <br /><br />
            Almost the entire park is covered with tall, reedy Pohon grass, which grows all year round. Udawalawe is a superb place to watch elephants. An estimated 450 elephants live here. <br /><br />
            PM – Arrive at resort
        </p>



    </div>

    <h2 style="text-align:justify; padding:25px;">FINE PRINT<br /></h2>
    <strong>Price for Excursion: 90 USD per person</strong>.<br />

    <br />
    <strong>Rate Inclusions:</strong><br />
    <ul>
        <li> Entrance fees.</li>
        <li> Air Conditioned vehicles.</li>
        <li> English speaking chauffer guide.</li>
        <li> Jeep.</li>
        <li> Lunch – at a Local restaurant.</li>
    </ul>
    <br />
    <strong>Rate Exclusions:</strong><br />
    <ul>
        <li> Expenses of personal nature.</li>

    </ul>
    <br />


    <div class="row">
        <div class="form_title">
            <h4>
                <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
                <br />
            </h4>
            <p>

            </p>
        </div>
        <div class="step">

            <div id="message-contact"></div>

            @Html.Partial("_SendInquiry", Model)

        </div>
    </div>

</div>