@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Whale_Watching_Excursion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>Whale Watching Excursion</h1>
    <div class="row">
        <p style="text-align:justify;">
            Leave for the Mirissa harbour for our first whale watching excursion in search of Blue’s and other cetaceans.<br /><br />
            Have an early start to take a whale watching excursion off the coast of Mirissa to track the incredible Blue Whale - the largest animal that has ever lived and now known to be found seasonally in Sri Lanka's rich marine habitat. Commercial whale watching is only in its infancy here so this is an experience few have had before.<br /><br />
            Have lunch after the excursion at a local restaurant. Post lunch visit to a Turtle Hatchery, here turtle nesting is at its peak and sighting is quite frequent, although nesting does occur during the rest of the year though not as frequent. It is possible to approach the nesting turtles only once they have dug their pit and begun the process of laying between 100 – 200 eggs! Sit by the turtle and share an unforgettable experience…!<br /><br />
            Also en route stop in the historic city of Galle which is said to be the famous Tarshish of the Bible where King Solomon obtained gems and spices, this “Living” UNESCO World Heritage Site is the port where the Portuguese first landed in Sri Lanka in 1505.
            <br /> <br />


       <div class="div1">01 Day Excursion</div>

        <p style="text-align:justify; padding:25px;">
            Indulge in luxurious offshore sensations Stroll along the Indian Ocean on a luxury Yacht and experience the Whales watching.<br /><br />

            Whales watching tour along the southern coastline visiting Turtle Hatchery en route, also visit the Old Dutch Fort in Galle named by UNESCO as a World Heritage Site.
            Also view arts & crafts unique to Southern Province, i.e. Lace-making, Masks & Puppets. Lunch at a local restaurant in Galle. Also, if weather permits, visit the stilt fishermen which are unique way of fishing in the Southern Coast of Sri Lanka.
        </p>



        <strong> Tip: - Sea sickness Medication will be provided prior to departure, But Consumption of the Medication is at the discretion of the Client.</strong>

    </div>

    


<h2 style="text-align:justify; padding-bottom:25px;">FINE PRINT<br /></h2>

<br />
<strong>Rate Inclusions:</strong><br />
<ul>
    <li> Transport in an Air conditioned Vehicle + English speaking Chauffer guide.</li>
    <li> Whale watching.</li>
    <li> Galle sight seeing.</li>
    <li> Turtle Hatchery.</li>
    <li> Lunch.</li>
</ul>
<br />
<strong>Rate Exclusions:</strong><br />
<ul>
    <li> Tips and other personal expenses.</li>

</ul>
<br />


<div class="row">
    <div class="form_title">
        <h4>
            <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
            <br />
        </h4>
        <p>

        </p>
    </div>
    <div class="step">

        <div id="message-contact"></div>

        @Html.Partial("_SendInquiry", Model)

    </div>
</div>
    </div>



