@model JWConvention.Models.InquiryModel

@{
    ViewBag.Title = "Yala_Day_Excursion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

    <h1>Yala Day Excursion</h1>
    <div class="row">
        <p style="text-align:justify;">
            Leave hotel and proceed to Yala,  Sri Lanka’s most known national park is popular for Elephant, Leopard, Bear, Crocodile and Wild Boar. More than three times larger than Udawalawe at 97,800 hectares, this is the second largest of Sri Lanka’s national parks. Its open undulating terrain made it famous for elephants for many years, but recently the park has also received much fame through publicity by National Geographic and the Discovery TV channels, which focused on a leopard research/conservation and identification project. Claims have subsequently been made that Yala National Park has the world’s highest concentration of leopard per square kilometer. This park is primarily shrub jungle with several salt and fresh water lagoons. The areas popular with leopard are rock strewn hillocks with dense shrub in which the animals hide. Check back to hotel post excursion and spend the rest of the day at leisure.
            <br /> <br />

                    <div class="div1">Yala National Park</div>

        <p style="text-align:justify; padding:25px;">
            Sri Lanka’s premier national park is popular for Elephant, Leopards, Bears, Crocodiles and wild Boar. Located to the south east of the island, the main physical features are sand dunes, lagoons, Dry River, stream beds, rocky outcrops and scrub / thorn forest at 97,800 hectares.<br /><br />

            This is the second largest of Sri Lanka’s national parks. Its open Undulating terrain made it famous for elephants for many years, but recently the park has also received much fame through publicity by National Geographic, BBC and the Discovery TV channels, which focused on a leopard research / conservation and identification project. Claims have subsequently been made that Yala national park has the world’s highest concentration of leopard per square kilometer.

            <strong> Tip: - Sea sickness Medication will be provided prior to departure, But Consumption of the Medication is at the discretion of the Client.</strong>


            <strong>Program : </strong><br />
            <ul>
                <li> Pick up from hotel and proceed to Yala.</li>
                <li> Safari of Yala National park.</li>
                <li> Drop at Hotel.</li>

            </ul>

    </div>



<h2 style="text-align:justify; padding:25px;">FINE PRINT<br /></h2>
<strong>Cost for Excursion: 85 USD per person</strong>.<br />

<br />
<strong>Rate Inclusions:</strong><br />
<ul>
    <li> Entrance fees.</li>
    <li> Air Conditioned vehicles.</li>
    <li> English speaking guide / driver guide.</li>
    <li> Jeep.</li>
    <li> Lunch.</li>
</ul>
<br />
<strong>Rate Exclusions:</strong><br />
<ul>
    <li> Tips and other personal expenses.</li>

</ul>
<br />


<div class="row">



    <div class="form_title">
        <h4>
            <strong><i class="icon-pencil"></i></strong>Fill in all the fields below as clearly as possible to ensure that we   get a better idea of your needs and thus can serve you better.<br />
            <br />
        </h4>
        <p>

        </p>
    </div>
    <div class="step">

        <div id="message-contact"></div>

        @Html.Partial("_SendInquiry", Model)

    </div>
</div>





    </div>


